.main-auction-container {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-content: center;
}

.auction-items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  overflow-y: scroll;
  height: 35rem;
  padding: 1rem;
}

@media (max-width: 768px) {
  .auction-items-container {
    grid-template-columns: repeat(2, 1fr); /* Show 2 columns on small screens */
  }
}

@media (max-width: 480px) {
  .auction-items-container {
    grid-template-columns: 1fr; /* Stack the items on very small screens */
  }
}