.user-profile-page {
  padding: 1rem;
  background: #fff;
}

.user-profile-page h1 {
  color: #343a40;
  margin-bottom: 1rem;
}

.user-profile-page h2 {
  color: #6c757d;
  margin-bottom: 0.5rem;
}

.user-profile-header-row{
  display: flex;
  justify-content: space-between;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.auction-lots-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.user-profile-page h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auction-items-profile-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  overflow-y: scroll;
  height: 28rem;
  padding: 1rem;
}

.auction-bids-container {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
}

@media (max-width: 768px) {
  .auction-items-profile-container {
    grid-template-columns: repeat(2, 1fr); /* Show 2 columns on small screens */
  }
}

@media (max-width: 480px) {
  .auction-items-profile-container {
    grid-template-columns: 1fr; /* Stack the items on very small screens */
  }
}

.go-to-bids{
  padding: 8px 16px; /* Example padding, adjust as needed */
  border: none;
  font-style: normal;
  cursor: pointer;
  color: #656262;
}

.add-new-lot-button{
  padding: 0rem 4rem; /* Example padding, adjust as needed */
  border: none;
  border-radius: 1rem;
  font-style: bold;
  font-size: 1rem;
  font-family: Poppins, sans-serif;
  cursor: pointer;
  background-color: #803935;
  color: #fff;
}
