* {
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
}

#cover {
  background-color: rgba(128, 57, 53, 0.3);
  border-radius: 1rem;
}

.tb {
  display: table;
  width: 100%;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

.search-input {
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: transparent;
  font-family: 'Nunito', sans-serif;
}

.search-input::placeholder {
  color: #e16868;
}

#s-cover {
  position: relative;
}

.search-button {
  cursor: pointer;
  position: relative;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
}

#s-circle {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%) scale(1);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: 0.5s ease all;
}

.fa-search{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  transition: 0.5s ease all;
}
